@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@900&display=swap");
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --color-text-white: #ffffff;
}

.body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  position: relative;
  background-color: #c4c4c4;
  color: var(--color-text-white);
}

.body-content {
  display: flex;
  position: absolute;
  z-index: 9;
  pointer-events: none;
}

.header {
  margin: 70px 50px 0px 50px;
  display: flex;
  pointer-events: all;
}

a {
  color: var(--color-text-white);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  pointer-events: all;
}
.nav-logo {
  display:flex;

}
.header-list {
  display: flex;

  align-items: center;
  column-gap: 65px;
  font-weight:600;
  font-size: 18px;
  line-height: 1.22;
}
/* .header-item {
}
.header-link {
}
.mobail-menu {
  display: block;
}
.main {
}
.social {
}
.subtitle {
}
.title-country {
}
.footer {
}
.footer-list {
} */
/* .footer-item {
}
.title-footer {
}
.footer-text {
} */
